/* Sections */
.hero.section {
  background-color: #e4e4e4;
  background-image: url('/images/pages/products/inks/hero.jpg');
  background-size: 150%;
  background-position: 50% -20%;
}
@media (min-width: 550px) {
  .hero.section {
    background-size: 100%;
    background-position: 50% -2%;
  }
}

.j-herbin.section {
  background-image: url('/images/pages/products/inks/j-herbin.png');
  background-size: 170%;
  background-position: 40% 100%;
}
@media (min-width: 550px) {
  .j-herbin.section {
    background-size: 1000px;
    background-position: 30% 100px;
  }
}

.colours.section {
  background-image: url('/images/pages/products/inks/colours-horizontal.png');
  background-size: 130%;
  background-position: 70% 120%;
}
@media (min-width: 550px) {
  .colours.section {
    background-image: url('/images/pages/products/inks/colours.png');
    background-size: 960px;
    background-position: 70% 190px;
  }
  .colours.section .container .row:first-child {
    margin-top: 120px;
  }
  .colours.section .container .row:last-child .columns:nth-child(1) {
    padding-left: 30px;
  }
  .colours.section .container .row:last-child .columns:nth-child(2) {
    padding-left: 10px;
  }
  .colours.section .container .row:last-child .columns:nth-child(3) {
    padding-left: 50px;
  }
}

.rohrer-klingner.section {
  background-image: url('/images/pages/products/inks/jar-trio.png');
  background-size: 160%;
  background-position: 45% 100%;
}
@media (min-width: 550px) {
  .rohrer-klingner.section {
    background-size: auto 100%;
    background-position: 50% 150px;
  }
}

.rohrer-klingner-colours.section {
  background-image: url('/images/pages/products/inks/rohrer-klingner.png');
  background-size: 150%;
  background-position: -110px 100%;
}
@media (min-width: 550px) {
  .rohrer-klingner-colours.section {
    background-size: auto 700px;
    background-position: 300px -40px;
  }
  .rohrer-klingner-colours.section .container .row:first-child {
    margin-top: 160px;
  }
  .rohrer-klingner-colours.section .bottom.row {
    margin-top: 370px;
  }
}

.footer.section {
  background-image: url('/images/pages/products/inks/footer.png');
  background-size: auto 150%;
  background-position: 50% 18%;
}

.pricing {

}
