br {
  display: none;
}
@media (min-width: 550px) {
  br {
    display: block;
  }
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero.section {
  background-image: url('/images/pages/products/painterly-petals-collection/hero.png');
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .hero.section {
    background-size: auto 600px;
    background-position: 50% 60%;
    height: 600px;
  }
  .hero.section .container .row:first-child {
    margin-top: 550px !important;
    text-align: center;
  }
}

.inspiration.section {
  background-image: url('/images/pages/products/painterly-petals-collection/inspiration.png');
  background-size: auto 40%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .inspiration.section {
    background-size: auto 100%;
    background-position: 0% 39%;
  }
  .inspiration.section .container .row:first-child {
    margin-top: 530px !important;
  }
  .inspiration.section .container .row:first-child p {
    text-align: right;
  }
}

.suite.section {
  background-image: url('/images/pages/products/painterly-petals-collection/suite.png');
  background-size: auto 100%;
  background-position: 40% 400px;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .suite.section {
    background-size: auto 100%;
    background-position: 0% 0%;
  }
  .suite.section .container .row:first-child {
    margin-top: 100px !important;
  }
}

.printing.section {
  background-image: url('/images/pages/products/painterly-petals-collection/printing.png');
  background-size: auto 70%;
  background-position: 40% 270px;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .printing.section {
    background-size: 95%;
    background-position: 50% 50%;
  }
  .printing.section .container .row:first-child {
    margin-top: 600px !important;
  }
  .printing.section .container .row:first-child p {
    text-align: right;
  }
}

.hand.section {
  background-image: url('/images/pages/products/painterly-petals-collection/hand.png');
  background-size: auto 120%;
  background-position: 40% 0%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .hand.section {
    background-size: 100%;
    background-position: 50% 0%;
  }
  .hand.section .container .row:first-child {
    margin-top: 600px !important;
  }
  .hand.section .container .row:first-child p {
    text-align: right;
  }
}

.prix-fixe.section {
  background-image: url('/images/pages/products/painterly-petals-collection/prix-fixe.png');
  background-size: 100%;
  background-position: 40% 80%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .prix-fixe.section {
    background-size: 60%;
    background-position: 10% 70%;
  }
  .prix-fixe.section .container .row:first-child {
    margin-top: 200px;
  }
  .prix-fixe.section .container .row:first-child h4 {
    margin-top: 10px;
  }
}

#priceEstimator {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#priceEstimator div:first-child {
  margin-right: 30px;
}

#priceDropDown {
  margin-left: 108px;
  display: none;
}
#priceDropDown.visible {
  display: block;
}

/* Updates to page-wide images based on class name of body, toggled by click
   events. */

/* Collection Descriptions */
body.garden-rose #garden-rose-description,
body.birds-of-paradise #birds-of-paradise-description,
body.georgias-glory #georgias-glory-description {
  display: block;
}

/* Garden Rose */
body.garden-rose .designs.section {
  background-image: url('/images/pages/products/painterly-petals-collection/square/GRSqTeal.png');
}

/* Birds of Pardise */
body.birds-of-paradise .designs.section {
  background-image: url('/images/pages/products/painterly-petals-collection/square/BPSqTeal.png');
}

/* Georgia's Glory */
body.georgias-glory .designs.section {
  background-image: url('/images/pages/products/painterly-petals-collection/square/GGSqTeal.png');
}

.designs.section {
  height: 800px;
  background-size: 150%;
  background-position: 60% 100%;
  background-repeat: no-repeat;
}
.designs.section .description {
  display: none;
}
@media (min-width: 550px) {
  .designs.section {
    height: 100vh;
    background-size: auto 100%;
    background-position: 150% 50%;
  }
  .designs.section .container .row:first-child {
    margin-top: 15%;
  }
}

/* Handle shape changes to overall layout */

/* Shape text changes */
body.a9 .shapes.section .container .row:last-child .columns:nth-child(1),
body.square .shapes.section .container .row:last-child .columns:nth-child(2),
body.no10 .shapes.section .container .row:last-child .columns:nth-child(3) {
  color: #000 !important;
}

/* A9 Open */
body.a9 .shapes.section .container .row:last-child .columns:nth-child(1) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/a9-envelope-open.png') !important;
}

/* Square Open */
body.square .shapes.section .container .row:last-child .columns:nth-child(2) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/square-envelope-open.png') !important;
}

/* A9 Open */
body.no10 .shapes.section .container .row:last-child .columns:nth-child(3) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/no10-envelope-open.png') !important;
}

.shapes.section {
  height: 1400px;
}
.shapes.section .container .row:last-child .columns,
.shapes.section .container .row:last-child .column {
  text-align: center;
}
.shapes.section .container .row:last-child .envelope {
  width: 100% !important;
  height: 0;
  padding-bottom: 100%;
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 40% 50%;
}
.shapes.section .container .row:last-child .columns:nth-child(1) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/a9-envelope-close.png');
}
.shapes.section .container .row:last-child .columns:nth-child(2) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/square-envelope-close.png');
}
.shapes.section .container .row:last-child .columns:nth-child(3) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/no10-envelope-close.png');
}
@media (min-width: 550px) {
  .shapes.section {
    height: 500px;
  }
  .shapes.section .container .row:last-child {
    margin-top: 50px;
  }
}

.colours.section {
  background-size: 0%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
.colours.section .final-envelope {
  width: 100% !important;
  height: 0;
  padding-bottom: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 55% 50%;
}
@media (min-width: 550px) {
  .colours.section {
    background-size: auto 80%;
    background-position: 10% 100%;
  }
  .colours.section .container .row:first-child {
    margin-top: 15%;
  }

  /* left spread only on desktop */
  body.garden-rose .colours.section {
    background-image: url('/images/pages/products/painterly-petals-collection/painterly8-1.png');
  }
  body.birds-of-paradise .colours.section {
    background-image: url('/images/pages/products/painterly-petals-collection/painterly8-2.png');
    background-size: auto 90%;
    background-position: 0% 90%;
  }
  body.georgias-glory .colours.section {
    background-image: url('/images/pages/products/painterly-petals-collection/painterly8-3.png');
  }
}

.colours.section .slide .image {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 55% 50%;
  margin-bottom: 20px;
}
.colours.section .slide {
  margin-bottom: 20px;
}
.colours.section .slide a {
  text-decoration: none !important;
}
.colours.section button {
  border-color: #c8b475;
  color: #c8b475;
}
