/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero.section {
  background-image: url('/images/pages/products/painterly-petals-collection/hero.png');
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .hero.section {
    background-size: 70%;
  }
  .hero.section .container .row:first-child {
    margin-top: 550px !important;
    text-align: center;
  }
}

.inspiration.section {
  background-image: url('/images/pages/products/painterly-petals-collection/inspiration.png');
  background-size: auto 100%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .inspiration.section {
    background-size: auto 100%;
    background-position: 0% 39%;
  }
  .inspiration.section .container .row:first-child {
    margin-top: 530px !important;
  }
  .inspiration.section .container .row:first-child p {
    text-align: right;
  }
}

.suite.section {
  background-image: url('/images/pages/products/painterly-petals-collection/suite.png');
  background-size: auto 100%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .suite.section {
    background-size: auto 100%;
    background-position: 0% 0%;
  }
  .suite.section .container .row:first-child {
    margin-top: 100px !important;
  }
}

.printing.section {
  background-image: url('/images/pages/products/painterly-petals-collection/printing.png');
  background-size: auto 90%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .printing.section {
    background-size: 95%;
    background-position: 50% 50%;
  }
  .printing.section .container .row:first-child {
    margin-top: 600px !important;
  }
  .printing.section .container .row:first-child p {
    text-align: right;
  }
}

.hand.section {
  background-image: url('/images/pages/products/painterly-petals-collection/hand.png');
  background-size: auto 90%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .hand.section {
    background-size: 100%;
    background-position: 50% 0%;
  }
  .hand.section .container .row:first-child {
    margin-top: 600px !important;
  }
  .hand.section .container .row:first-child p {
    text-align: right;
  }
}

.prix-fixe.section {
  background-image: url('/images/pages/products/painterly-petals-collection/prix-fixe.png');
  background-size: 150%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 550px) {
  .prix-fixe.section {
    background-size: 60%;
    background-position: 10% 70%;
  }
  .prix-fixe.section .container .row:first-child {
    margin-top: 150px;
  }
}

/* Updates to page-wide images based on class name of body, toggled by click
   events. */

/* Collection Descriptions */
body.garden-rose #garden-rose-description,
body.birds-of-paradise #birds-of-paradise-description,
body.georgias-glory #georgias-glory-description {
  display: block;
}

/* Garden Rose */
body.garden-rose .designs.section {
  background-image: url('/images/pages/products/painterly-petals-collection/square/GRSqTeal.png');
}
body.garden-rose .colours.section {
  background-image: url('/images/pages/products/painterly-petals-collection/painterly8-1.png');
}

/* Birds of Pardise */
body.birds-of-paradise .designs.section {
  background-image: url('/images/pages/products/painterly-petals-collection/square/BPSqTeal.png');
}
body.birds-of-paradise .colours.section {
  background-image: url('/images/pages/products/painterly-petals-collection/painterly8-2.png');
}

/* Georgia's Glory */
body.georgias-glory .designs.section {
  background-image: url('/images/pages/products/painterly-petals-collection/square/GGSqTeal.png');
}
body.georgias-glory .colours.section {
  background-image: url('/images/pages/products/painterly-petals-collection/painterly8-3.png');
}

.designs.section {
  background-size: 150%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
.designs.section .description {
  display: none;
}
@media (min-width: 550px) {
  .designs.section {
    background-size: auto 100%;
    background-position: 100% 50%;
  }
  .designs.section .container .row:first-child {
    margin-top: 15%;
  }
}

/* Handle shape changes to overall layout */

/* Shape text changes */
body.a9 .shapes.section .container .row:last-child .columns:nth-child(1),
body.square .shapes.section .container .row:last-child .columns:nth-child(2),
body.no10 .shapes.section .container .row:last-child .columns:nth-child(3) {
  color: #000 !important;
}

/* A9 Open */
body.a9 .shapes.section .container .row:last-child .columns:nth-child(1) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/a9-envelope-open.png') !important;
}

/* Square Open */
body.square .shapes.section .container .row:last-child .columns:nth-child(2) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/square-envelope-open.png') !important;
}

/* A9 Open */
body.no10 .shapes.section .container .row:last-child .columns:nth-child(3) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/no10-envelope-open.png') !important;
}

.shapes.section .container .row:last-child .columns,
.shapes.section .container .row:last-child .column {
  text-align: center;
}
.shapes.section .container .row:last-child .envelope {
  width: 100% !important;
  height: 0;
  padding-bottom: 100%;
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 40% 50%;
}
.shapes.section .container .row:last-child .columns:nth-child(1) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/a9-envelope-close.png');
}
.shapes.section .container .row:last-child .columns:nth-child(2) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/square-envelope-close.png');
}
.shapes.section .container .row:last-child .columns:nth-child(3) .envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/no10-envelope-close.png');
}
@media (min-width: 550px) {
  .shapes.section .container .row:last-child {
    margin-top: 150px;
  }
}

.colours.section {
  background-image: url('/images/pages/products/painterly-petals-collection/painterly8-1.png');
  background-size: 150%;
  background-position: 40% 100%;
  background-repeat: no-repeat;
}
.colours.section .final-envelope {
  width: 100% !important;
  height: 0;
  padding-bottom: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 550px) {
  .colours.section {
    background-size: auto 80%;
    background-position: 10% 100%;
  }
  .colours.section .container .row:first-child {
    margin-top: 15%;
  }
}

/* Final collection + shape envelope preview */

/* A9 */
body.a9.garden-rose .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/a9/GRA9Teal.png');
}
body.a9.birds-of-paradise .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/a9/BPA9Orng.png');
}
body.a9.georgias-glory .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/a9/GGA9Orng.png');
}

/* Square */
body.square.garden-rose .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/square/GRSqTeal.png');
}
body.square.birds-of-paradise .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/square/BPSqOrng.png');
}
body.square.georgias-glory .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/square/GGSqOrng.png');
}

/* No10 */
body.no10.garden-rose .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/no10/GR10Teal.png');
}
body.no10.birds-of-paradise .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/no10/BP10Orng.png');
}
body.no10.georgias-glory .colours.section .final-envelope {
  background-image: url('/images/pages/products/painterly-petals-collection/no10/GG10Orng.png');
}
