/* Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.square {
  margin-left: 0;
  width: 37% !important;
  height: 0;
  padding-bottom: 37%;
  background-size: cover;
  background-clip: padding-box;
  box-sizing: content-box;
  border: 20px solid;
  border-image: url('/images/grid-frame.svg') 15% 15% stretch;
  outline: 1px #CCC solid;
}
@media (min-width: 550px) {
  .square {
    width: 15% !important;
    padding-bottom: 15%;
  }
}

.hero.section .container .row:last-child {
  margin-bottom: 10%;
}
