
/* sections */
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  font-size: 14px;
}

/* common blocks */
.box {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* clouds */
div[class*='cloud-'] {
  position: absolute;
}

.cloud .cls-1 {
  fill: #FFFFFF;
}

/* animations */
@keyframes clouds {
  0% { right: -20vw; }
  100% { right: 100vw; }
}

@keyframes hover {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 5px); }
  100% { transform: translate(0, -0px); }
}
