
/* sections */
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  font-size: 14px;
}

/* common blocks */
.box {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scene {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* scene content descriptors */
.content {
  z-index: 100;
  font-family: 'Arapey', serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

.content .title {
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content a {
  text-decoration: none;
}

.content a ul {
  padding: 0;
  margin-top: 50px;
}

.content a li {
  display: inline;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
  padding: 10px 40px;
  margin-left: 0;
  list-style: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in;
}

.content a li:hover {
  background-color: #FFFFFF;
}

/* full align container prominent sprite positioning */
.prominent {
  position: absolute;
  height: 100vh;
}

.prominent.left {
  left: 0;
}

.prominent.right {
  right: 0;
}

.prominent.top {
  top: 0;
  height: 50vh !important;
}

.prominent.bottom {
  bottom: 0;
  height: 50vh !important;
}

.prominent.fill {
  width: 100vw;
}

.prominent.half {
  width: 50vw;
}

/* clouds */
div[class*='cloud-'] {
  position: absolute;
}

.cloud .cls-1 {
  fill: #FFFFFF;
}

/* animations */
@keyframes clouds {
  0% { right: -20vw; }
  100% { right: 100vw; }
}

@keyframes hover {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 5px); }
  100% { transform: translate(0, -0px); }
}
