#fifth .content {
  margin-left: 0vw;
  margin-top: 40vh;
  width: 35vw;
}

#cloud-13 {
  position: absolute;
  top: 20vh;
  left: 0vw
  width: 40vw;
  z-index: 0;
}

#cloud-14 {
  position: absolute;
  top: 50vh;
  left: 10vw;
  width: 15vw;
  z-index: 2;
}

#contact-grid {
  width: 550px;
  margin-top: 25px;
}

#contact-grid .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

#contact-grid .icon {
  width: 50px;
  height: 50px;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
}

#contact-grid .row .description {
  margin-left: 20px;
  flex: 1;
}

#contact-grid a {
  color: #000;
  text-decoration: none;
}

/* responsive iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  #cloud-14 {
    top: inherit;
    left: inherit;
    bottom: 10vh;
    right: 30vw;
  }

  #contact-grid .icon {
    width: 100px;
    height: 100px;
  }
  #contact-grid .row {
    margin-top: 75px;
  }
  #contact-grid .row .description {
    margin-left: 50px;
  }
}
