#fifth .content {
  margin-left: 0vw;
  margin-top: 40vh;
  width: 35vw;
}

#cloud-13 {
  position: absolute;
  top: 20vh;
  left: 0vw;
  width: 40vw;
  z-index: 0;
}

#cloud-14 {
  position: absolute;
  top: 50vh;
  left: 10vw;
  width: 15vw;
  z-index: 2;
}
