#first .box {
  background-color: #CCE4E6;
}

/* ferris wheel */
#ferris {
  position: absolute;
  bottom: 2%;
  left: 0;
  height: 60vw;
  width: 60vw;
}

#ferris path, #ferris polygon {
  fill: #DDDDDD;
  stroke: #000000;
  stroke-width: 0.1px;
}

.car path, .car polygon {
  fill: #EEEEEE !important;
}

g[class*='-rear'] path, g[class*='-rear'] polygon {
  fill: #AAAAAA !important;
}

/* banner */
#banner path {
  fill: #FFFFFF;
  stroke: transparent;
  stroke-width: 0px;
}

#banner {
  position: absolute;
  top: 10%;
  right: 5%;
  height: 40vw;
  width: 40vw;
}

/* clouds */
div[id*='cloud-'] {
  position: absolute;
}

.cloud .cls-1 {
  fill: #FFFFFF;
}

#cloud-1 {
  z-index: 99;
  top: 25%;
  width: 20vw;
  height: 20vw;
  animation: clouds 180s linear -20s infinite;
}

#cloud-2 {
  z-index: 99;
  top: 34%;
  width: 18vw;
  height: 18vw;
  animation: clouds 120s linear -90s infinite;
}

#cloud-3 {
  top: 11%;
  width: 5vw;
  height: 5vw;
  animation: clouds 400s linear -350s infinite;
}

#cloud-4 {
  top: 21%;
  width: 12vw;
  height: 12vw;
  animation: clouds 300s linear -100s infinite;
}

#cloud-5 {
  top: 25%;
  width: 5vw;
  height: 5vw;
  animation: clouds 350s linear -130s infinite;
}

@keyframes clouds {
  0% { right: -10%; }
  100% { right: 100%; }
}

/* responsive iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #banner {
    top: 7%;
    left: 15%;
    right: 15%;
    height: 70vw;
    width: 70vw;
  }

  #ferris {
    left: 5%;
    right: 5%;
    width: 90vw;
    height: 90vw;
  }

  div[id*='cloud-'] {
    transform: scale(1.5);
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #banner {
    right: 0;
    height: 60vw;
    width: 60vw;
  }

  #ferris {
    width: 80vw;
    height: 80vw;
  }

  div[id*='cloud-'] {
    transform: scale(1.5);
  }
}
