#first .box {
  background-color: #CCE4E6;
}

/* ferris wheel */
#ferris {
  position: absolute;
  bottom: 2%;
  left: 0;
  height: 60vw;
  width: 60vw;
}

#ferris path, #ferris polygon {
  fill: #DDDDDD;
  stroke: #000000;
  stroke-width: 0.1px;
}

.car path, .car polygon {
  fill: #EEEEEE !important;
}

g[class*='-rear'] path, g[class*='-rear'] polygon {
  fill: #AAAAAA !important;
}

/* banner */
#banner path {
  fill: #FFFFFF;
  stroke: transparent;
  stroke-width: 0px;
}

#banner {
  position: absolute;
  top: 10%;
  right: 5%;
  height: 40vw;
  width: 40vw;
}

/* clouds */
div[class*='cloud-'] {
  background-image: url('http://media.hermes.com/skin/frontend/hos/default/medias/imgs/bg/mobile/parallax.png');
}

.cloud-1 {
  background-position: 0 0;
  height: 190px;
  width: 630px;
}

.cloud-2 {
  background-position: 0 100px;
  height: 100px;
  width: 300px;
}

.cloud-3 {
  background-position: 0 250px;
  height: 150px;
  width: 490px;
}

div[class*='clouds-'] {
  position: absolute;
  transform: scale(0.5);
}

.clouds-1 {
  top: 10%;
  left: -10%;
}

.clouds-2 {
  top: 17%;
  left: 5%;
}

.clouds-3 {
  top: 20%;
  right: 40%;
}

.clouds-4 {
  top: 20%;
  right: 30%;
}

/* responsive iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #banner {
    left: 10%;
    right: 10%;
    height: 80vw;
    width: 80vw;
  }

  #ferris {
    left: 5%;
    right: 5z%;
    width: 90vw;
    height: 90vw;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #banner {
    right: 0;
    height: 60vw;
    width: 60vw;
  }

  #ferris {
    width: 80vw;
    height: 80vw;
  }
}
