#fourth .box {
  background-color: #DD9FD9;
}

#fourth .content {
  margin-left: -5vw;
  margin-top: 10vh;
  width: 30vw;
}

#fourth #popcorn {
  margin-top: -10vh;
  margin-left: 5vw;
  height: 45vh;
  width: 45vh;
}

#cloud-11 {
  position: absolute;
  top: 42vh;
  left: 4vw;
  width: 15vw;
  z-index: 0;
}

#cloud-12 {
  position: absolute;
  bottom: 10vh;
  right: 35vw;
  width: 10vw;
  z-index: 0;
}

/* responsive iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  #fourth #popcorn {
    display: none;
  }

  #fourth .content {
    margin-top: 30vh;
  }

  #cloud-11 {
    top: 20vh;
    left: 10vw;
    width: 25vw;
  }
}

@media only screen and (max-device-height: 520px) {
  #fourth .content {
    margin-top: 10vh;
  }

  #cloud-11 {
    top: 60vh;
  }
}
