#second .box {
  background-color: #a0c0e0;
}

#merry-go-round {
  position: absolute;
  left: 3vw;
  bottom: 5vh;
  width: 60vw;
  height: 60vw;
  z-index: 2;
}

#letter {
  position: absolute;
  right: 10vw;
  top: 10vh;
  width: 15vw;
  height: 15vw;
}

#second .cloud-1 {
  top: 10vh;
  width: 15vw;
  height: 15vw;
  animation: clouds 240s linear -160s infinite;
}

#second .cloud-2 {
  top: 15vh;
  width: 20vw;
  height: 20vw;
  animation: clouds 200s linear -40s infinite;
}

/* transitions */
#second .transition .first path {
  fill: #FFB354;
}

#second .transition .second path {
  fill: #FFDE55;
}

#second .transition .third path {
  fill: #FFFFFF;
}

#second .transition .fourth {
  opacity: 1;
  bottom: -32vh;
}
