#carousel {
  position: absolute;
  bottom: 0vh;
  width: 100vh;
  height: 100vh;
  z-index: 2;
}

#carousel div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#carousel .base {
  width: 95%;
  height: 95%;
  top: 17%;
  left: 2.5%;
}

#carousel .top {
  width: 20%;
  height: 20%;
  left: 41%;
  bottom: 63%;
}

#carousel .top .handle div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#carousel .top .handle .first {
  display: show;
}

#carousel .top .handle .second {
  display: none;
}

#carousel .top .handle .third {
  display: none;
}

#carousel .top .screw-container {
  width: 15%;
  height: 200%;
  left: 40%;
  top: 25%;
  overflow: hidden;
}

#carousel .top .screw {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
}

#carousel .horses .first {
  width: 6%;
  height: 6%;
  bottom: 25%;
  left: 14%;
}

#carousel .horses .second {
  width: 12%;
  height: 12%;
  bottom: 24%;
  left: 23%;
}

#carousel .horses .third {
  width: 14%;
  height: 14%;
  bottom: 18%;
  left: 41%;
}

#carousel .horses .fourth {
  width: 12%;
  height: 12%;
  bottom: 24%;
  left: 60%;
}

#carousel .horses .fifth {
  width: 8%;
  height: 8%;
  bottom: 22%;
  left: 73%;
}

#carousel .horses .sixth {
  width: 3%;
  height: 3%;
  bottom: 30%;
  left: 83%;
}

#bird {
  position: absolute;
  top: 14vh;
  width: 10vh;
  height: 10vh;
  display: none;
  z-index: 1100;
}

#bird .bird-up {
  width: 10vh;
  height: 10vh;
}

#bird .bird-down {
  width: 10vh;
  height: 10vh;
  display: none;
}

#letter {
  position: absolute;
  right: 32vw;
  top: 7vh;
  width: 10vw;
  z-index: 105;
}

#letter .balloon-1 {
  display: inline;
}

#letter .balloon-2 {
  display: none;
}

#letter .balloon-3 {
  display: none;
}

#letter .balloon-4 {
  display: none;
}

#letter .balloon-5 {
  display: none;
}

/* content */
#second .content {
  margin-top: 25vh;
  width: 30vw;
}

/* clouds */
#cloud-3 {
  position: absolute;
  top: 62vh;
  left: 5vw;
  width: 67vw;
  z-index: 0;
}

#cloud-4 {
  position: absolute;
  top: 81vh;
  left: -10vw;
  width: 85vw;
  z-index: 20;
}

#cloud-5 {
  position: absolute;
  top: 15vh;
  left: 32vw;
  width: 20vw;
}

#cloud-6 {
  position: absolute;
  top: 2vh;
  right: 8vw;
  width: 35vw;
}

#cloud-7 {
  position: absolute;
  top: 20vh;
  right: 6vw;
  width: 20vw;
}

#cloud-15 {
  position: absolute;
  top: 90vh;
  right: 3vw;
  width: 30vw;
  z-index: 20;
}

/* responsive iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  #carousel {
    width: 100vw;
    height: 100vw;
    bottom: -5vh;
    left: 0;
  }

  #letter {
    display: none;
  }

  #second .content {
    margin-top: 30vh;
  }

  #bird {
    top: 40vh;
  }

  #cloud-3 {
    top: 83vh;
  }

  #cloud-4 {
    top: 90vh;
  }
}
