#second {
  background-image: url('https://scontent.fyzd1-1.fna.fbcdn.net/v/t31.0-8/17098035_1924866111076623_3014765806675373567_o.jpg?oh=28c31ae635ee77b60606c715b5966ee8&oe=59741AED');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 99;
}
