#sixth {
  overflow: visible;
}

#sixth .box {
  background-color: #9C84D3;
}

#sixth #floor {
  overflow: hidden;
}

#sixth #cat-tent {
  position: absolute;
  bottom: 15vh;
  left: 15vw;
  width: 65vh;
  height: 65vh;
  z-index: 7;
}

#sixth #tent {
  width: 65vh;
  height: 65vh;
}

#sixth #cat {
  position: absolute;
  width: 12vh;
  left: 28vh;
  top: 55vh;
}

#sixth #cat #cat-tongue-in {
}

#sixth #cat #cat-tongue-out {
  display: none;
}

#sixth #flags {
  position: absolute;
  top: 0vh;
  left: 31.6vh;
  width: 8vw;
}

#sixth #flag-1 {
}

#sixth #flag-2 {
  display: none;
}

#sixth #flag-3 {
  display: none;
}

#sixth #flag-4 {
  display: none;
}

#sixth #path-tent {
  position: absolute;
  top: 25vh;
  left: 34vw;
  width: 110vh;
  height: 110vh;
  z-index: 6;
}

#sixth #swings {
  position: absolute;
  width: 120vh;
  height: 120vh;
  bottom: 170vh;
  left: -8vw;
  z-index: 1;
}

#sixth #gondolas {
  position: absolute;
  width: 60vw;
  left: 22vw;
  bottom: 35vh;
}

#sixth #double-tent {
  position: absolute;
  width: 13vw;
  bottom: 32vh;
  right: 35vw;
  z-index: 4;
}

#sixth #strength-test {
  position: absolute;
  height: 5vh;
  width: 5vh;
  right: 36vw;
  top: 40vh;
}

#sixth #red-tent {
  position: absolute;
  height: 25vh;
  width: 25vh;
  right: 36vw;
  top: 39vh;
}

#sixth #sweet-stand {
  position: absolute;
  height: 39vh;
  width: 39vh;
  right: 44vw;
  bottom: 26vh;
}

#sixth #rollercoaster {
  position: absolute;
  height: 70vh;
  width: 70vh;
  left: -2vw;
  top: 25vh;
  z-index: 6;
}

#sixth #game-stands {
  position: absolute;
  height: 50vh;
  width: 50vh;
  left: -5vw;
  bottom: 5vh;
  z-index: 6;
}

#sixth #blue-tent {
  position: absolute;
  height: 52vh;
  width: 52vh;
  left: 10vw;
  top: 25vh;
  z-index: 6;
}

#sixth #yellow-blue-tent {
  height: 52vh;
  width: 52vh;
}

#sixth #bflags {
  position: absolute;
  top: 0vh;
  left: 25.4vh;
  width: 5vw;
}

#sixth #bflag-1 {
}

#sixth #bflag-2 {
  display: none;
}

#sixth #bflag-3 {
  display: none;
}

#sixth #bflag-4 {
  display: none;
}

#sixth #bear {
  position: absolute;
  height: 45vh;
  width: 45vh;
  right: 31vw;
  bottom: -7vh;
  z-index: 7;
}

#sixth #tent-bush {
  position: absolute;
  height: 35vh;
  width: 35vh;
  left: 5vw;
  bottom: -12vh;
  z-index: 7;
}

#sixth #left-bush {
  position: absolute;
  height: 70vh;
  width: 70vh;
  left: -20vw;
  bottom: -55vh;
  z-index: 7;
}

#sixth #right-bush {
  position: absolute;
  height: 70vh;
  width: 70vh;
  right: 18vw;
  bottom: -55vh;
  z-index: 7;
}

#popcorn-cart {
  position: absolute;
  height: 50vh;
  width: 50vh;
  right: -2vw;
  bottom: 10vh;
  z-index: 8;
}

/* #sharpener-pencils {
  position: absolute;
  width: 65vh;
  height: 55vh;
  bottom: 230vh;
  right: 0vw;
} */

#sharpener {
  position: absolute;
  width: 25vh;
  height: 6vh;
  bottom: 280vh;
  right: 25vh;
  z-index: 3;
}

#sharpener-cloud {
  position: absolute;
  width: 70vh;
  right: 3vh;
  bottom: 224vh;
}

#sharpener-cloud-2 {
  position: absolute;
  width: 50vh;
  right: 7vh;
  bottom: 221vh;
  z-index: 4;
}

#pencil {
  position: absolute;
  width: 4vh;
  bottom: 112vh;
  right: 36vh;
  z-index: 1;
}

#pencil-2 {
  display: none;
}

#pencilbox {
  position: absolute;
  width: 45vh;
  bottom: 40vh;
  right: -3vh;
  z-index: 3;
}

#sixth #pencil-bush {
  position: absolute;
  width: 40vh;
  right: -10vh;
  bottom: 35vh;
  z-index: 4;
}

/* responsive iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  #pencil,
  #pencil-1,
  #pencil-2,
  #pencilbox,
  #sharpener-cloud,
  #sharpener,
  #strength-test,
  #game-stands,
  #double-tent,
  #bear,
  #rollercoaster,
  #tent,
  #flags,
  #cat,
  #sweet-stand,
  #red-tent {
    display: none;
  }

  #sixth #popcorn-cart {
    bottom: 13vh;
    right: -13vw;
  }

  #sixth #gondolas {
    width: 180vw;
    height: 180vw;
    right: 5vh;
    left: inherit;
    top: inherit;
    bottom: 30vh;
  }

  #sixth #yellow-blue-tent {
    height: 60vh;
    width: 60vh;
    left: -30vw;
  }

  #sixth #pencil-bush {
    bottom: 10vh;
  }
}
