#third .box {
  background-color: #FFB354;
}

#third .cloud-2 {
  top: 10vh;
  right: 5vw;
  width: 25vw;
  height: 25vw;
  animation: hover 2s linear infinite;
}

#third .cloud-4 {
  bottom: -65vh;
  left: -3vw;
  width: 45vw;
  height: 45vw;
  z-index: 5;
  animation: hover 3s linear infinite;
}

/* used to animate slide in transition with css hover inner */
#hot-air-balloon-container {
  position: fixed;
  width: 90vh;
  height: 90vh;
  left: -3vw;
  top: -120vh;
  z-index: 4;
}

#hot-air-balloon {
  width: 100%;
  height: 100%;
}

/* transitions */
#third .transition .first path {
  fill: #DD9FD9;
}

#third .transition .second path {
  fill: #F4C1C9;
}

#third .transition .third path {
  fill: #D68BA0;
}
