.transition {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
}

.transition div {
  position: absolute;
  width: 100vw;
  opacity: 0;
  bottom: -10vh;
  z-index: 99;
}

.transition .first path {
  fill: #a0c0e0;
}

.transition .second path {
  fill: #d9e1ed;
}

.transition .third path {
  fill: #badce8;
}

.transition .fourth path {
  fill: #ffffff;
}

/* white clouds gets lower layer due to persistency */
.transition .fourth {
  z-index: 1;
}

/* first scene bottom clouds */
#cloud-1-tr {
  position: absolute;
  top: 200vh;
  left: -10vw;
  width: 195vw;
  z-index: 1000;
}

#cloud-2-tr {
  position: absolute;
  top: 200vh;
  left: -10vw;
  width: 180vw;
  z-index: 1000;
}

#cloud-3-tr {
  position: absolute;
  top: 200vh;
  right: -10vw;
  width: 180vw;
  z-index: 1000;
}

#cloud-4-tr {
  position: absolute;
  top: 200vh;
  right: -10vw;
  width: 195vw;
  z-index: 1000;
}

/* second scene top clouds */
#cloud-5-tr {
  position: absolute;
  top: -35vh;
  left: -30vw;
  width: 195vw;
  z-index: 1000;
}