.transition {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
}

.transition div {
  position: absolute;
  width: 100vw;
  /* opacity: 0; */
  bottom: -150vh;
  z-index: 1000;
}

/* white clouds gets lower layer due to persistency */
.transition .fourth {
  z-index: 100;
}

#first .transition .first path {
  fill: #6cadc8;
}

#first .transition .second path {
  fill: #d9e1ed;
}

#first .transition .third path {
  fill: #badce8;
}

#first .transition .fourth path {
  fill: #ffffff;
}

#second .transition .first path {
  fill: #c5c5db;
}

#second .transition .second path {
  fill: #ddc4d5;
}

#second .transition .third path {
  fill: #ccd1e9;
}

#second .transition .fourth path {
  fill: #ffffff;
}

#third .transition .first path {
  fill: #daa1bd;
}

#third .transition .second path {
  fill: #fccec9;
}

#third .transition .third path {
  fill: #e3dbe3;
}

#third .transition .fourth path {
  fill: #ffffff;
}

/* #fourth .transition .first path {
  fill: #ffc7a2;
}

#fourth .transition .second path {
  fill: #ff9c85;
}

#fourth .transition .third path {
  fill: #fff7bf;
}

#fourth .transition .fourth path {
  fill: #ffffff;
} */